.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  background-color: black;
}
.logo-img {
  height: 110px;
  width: 110px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.header {
  display: flex;
}
.navbar {
  align-items: bottom;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.social-links {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: 65%;
  height: 80px;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;

}
.social-links li {
  margin-right: 2em;
}
.social-links a {
  color: black;
}
.social-links a:hover {
  opacity: 0.6;
}
.page-links {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  height: 60px;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}




.a-link:hover {
  color: rgb(211, 43, 43);
}

.a-link{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;

  padding: 18px 20px 20px 20px;
  /* min-width: 180px; */
  /* text-align: center;
  position: relative; */
  display: table-cell
}


.li-link{
  height: 60px;
  text-align: center;
  border-right: 1px solid black;
 
}

.links {
  width: 100%;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropbtn {
  color: black;
  padding: 16px;

  border: none;
  cursor: pointer;
}

.dropbtn a:hover {
  background-color: #f1f1f1;
}

/*.dropdown:hover .dropdown-content {
  display: block;
}*/

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.position-header {
  font-size: 70px;
  color: rgba(138, 128, 128, 0.5);
  margin-top: 0px;
  /* margin-bottom: auto; */
}

.player-card{
  /* border: 3px solid gold; */
  display: inline-block;
  width: 300px;
  height: 500px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.character-img{
  height: 300px;
  width: 220px;
  border: 1px solid gold;
}

.flag-img{
  width: 50px;
  height: 30px;
  outline: .5px solid gold;
  float: right;
  margin-top: 33px;
  margin-right: 80px;
}

.gk-comp{
  background-color: rgb(34, 33, 33);
}

.def-comp{
  background-color: rgb(240, 239, 239);
}

.mid-comp{
  background-color: rgb(34, 33, 33);
}

.fwd-comp{

}

.char-name-black{
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
}

.char-name-white{
  margin-top: 5px;
  margin-bottom: 0;
  color: black;
}

.jersey-number-black{
  color:white;
  font-size: 80px;
  margin: 0;
}

.jersey-number-white{
  color:black;
  font-size: 80px;
  margin: 0;
}

.player-position-black{
  color:white;
  margin-top: 5px;
}

.player-position-white{
  color:black;
  margin-top: 5px;
}

/* .player-flag{
  display: inline;
} */

.jersey-number-black, .flag-img{
  display: inline;
}

.jersey-number-white, .flag-img{
  display: inline;
}

.char-comp{
}

/* home screen css */
.crest-img{
  max-width: 200px;
  max-height: 200px;
  float: left;
}

.score-box{
  border: 4px solid black;
  display: flex;
}

/* .last-game-score{
  display: flex;


} */



.score-container{
  
}

.last-game{

}

.next-game{
  display: flex;
}

.team-name-location{
  margin: auto;
  padding-left: 5px;
}

.league-table{
  background-color: rgb(34, 33, 33);
  display: block;;
}

.league-table-data{
  color: white;
  display: flex;
  
}

.league-title{
  color: gold;
}

.league-info{
  display: block;
  margin-left: 20px;
}

.league-info div{
  margin-top: 5px;
}

.score-report{

}


.last-game-container{
  border: 2px solid blue;

}

.last-game-score{
  font-size: 24px;
  font-weight: bolder;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.game-title{
  display: block;
}

.game-container{
  display: flex;
}

.next-game-container{
  display: block;
  border: 2px solid orange;

}


.next-game-team{
  /* display: flex; */

}

.team-crest{

}


.match-report{
  text-align: center;
}

.tickets{
  text-align: center;

}

.news-container{
  background-color: black;
  display: inline-flex;
  padding-left: 100px;
  padding-right: 100px;
  max-width: fit-content;

}

.news-card{
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  height: 400px;
  width: 200px;
  overflow: hidden;
  text-align: center;


}

.news-image{
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.news-image:hover{
  width: 230px;
  height: 230px;
}

.news-category{

}

.news-title{

}

.news-date{

}